# server settings

server {
  enabled = true

  # count should be equal to the number of servers
  bootstrap_expect = {{ bootstrap_expect }}
  encrypt          = "{{ nomad_key }}"

  server_join {
    retry_join = ["{{ retry_join }}"]
    retry_max = 0
  }
}

{% if vault_server != "" %}
vault {
  enabled = true
  address = "http://{{ vault_server }}:8200"

  task_token_ttl = "1h"

  token = "{{ vault_token }}"
}
{% endif %}
