[Unit]
Description=Hashi UI by Christian Winther (jippi)
Documentation=https://github.com/jippi/hashi-ui/blob/master/README.md
Wants=network-online.target consul.service nomad.service
After=network.target network-online.target nomad.service

[Service]
EnvironmentFile=-/etc/default/hashi-ui
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/sbin/hashi-ui
Group=root
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=5
StartLimitBurst=3
StartLimitIntervalSec=10
TasksMax=infinity
Type=simple
User=root
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
